<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Striped Progress bar</h4>
            <div class="progress m-t-20">
              <div class="progress-bar bg-primary active progress-bar-striped" style="height:5px;"
                   [style.width]="getProgress1"
                   role="progressbar"></div>
            </div>

            <div class="progress m-t-20">
              <div class="progress-bar bg-info active progress-bar-striped" style="height:5px;"
                   role="progressbar"
                  [style.width]="getProgress2"
              ></div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [value]="progress1" (value)=" progress1 = $event"></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador  [value]="progress2" btn-class="btn-info" (value)=" progress2 = $event"></app-incrementador>
      </div>
    </div>
  </div>
</div>

